[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bnstruct"]
	path = bnstruct
	url = https://github.com/cran/bnstruct
	shallow = true
	registered = true
